<h1>About me</h1>

<p>Who am I? Thats actually not so important, but getting the truth out there is!
    <br>
    <br>
    If you recently, just like I, have come to the realization that the world is not what it seems, then you are in the right place. Thats all you need to know right now.
    <br>
    <br>
    If you want to book me for a lecture, use the contact form. 
    <br>
    I'm also available for interviews, but only if you have a big enough audience.
</p>
<br>
<br>
<form action="">
    <div>
        <label for="guestEmailAddress">Your email:</label>
        <input type="email" name="guestEmailAddress">
    </div>
 
    <div>
    <label for="guestName">Your name:</label>
    <input type="text" name="guestName">
</div>    
<div>
    <label for="isEarthFlat">Is the Earth flat?</label>
    <input type="checkbox" name="isEarthFlat">
</div>
<div class="textarea-wrapper">
    <label for="guestText">Type your message here:</label>
    <textarea name="guestText" id="guestText" cols="70" rows="10"></textarea>
</div>
<button type="submit">Submit</button>
</form>
