* {
    padding: 5px;
    margin: 0;
    color: #6AA756;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 16, 16);
    border-bottom: 1px solid #6AA756;
}

.title {
    font-size: 32px;
}

.navbar-navigation {
    display: flex;
    justify-content: end;
}

a {
    margin-top: 5px;
    display: flex;
    text-decoration-line: none;
}

button {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.active-admin {
    background: #783D3D;    
}