* {
    padding: 5px;
    margin: 0;
    color: #6AA756;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 16, 16);
    border-bottom: 1px solid #6AA756 ;
}

.title {
    font-size: 32px;
}

.navbar-navigation {
    display: flex;
    justify-content: end;
}

a {
    margin-top: 5px;
    display: flex;
    text-decoration-line: none;
}

button {
    color: #6AA756;
    background: none;
    border: 1px solid #6AA756;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 30px;
    align-self: center;
}

.active-admin {
    background: #61146b;    
}