.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 40px;
  }
  
  .posts-container {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .posts-wrapper {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
  }
  
  .post-card {
    display: grid; 
    grid-template-rows: 50px 150px 50px;
    flex-direction: column; 
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    background: linear-gradient(180deg, #F1A416 20%, #f3c349 79%);    width: 250px;
    height: 220px;
    width: 150px;
    color: rgb(16, 16, 16);
  }

  .post-card-title {
    grid-row: 1/2;
    font-size: 18px;
    font-weight: 500;
  }

  .post-card-img {
    grid-row: 2/3;
    width: 130px;
    height: 150px;
  }

  .button-read-more {
    grid-row: 3/4;
    background-color: transparent;
    color: rgb(16, 16, 16);
    transform: translateY(-10px);
    border: none;
    cursor: pointer;
  }

  .nav-button {
    background-color: none;  
    background-color: transparent;
  }
  
  .nav-button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  
  .nav-button.prev {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 35px solid #91be61;
    border-left: 0;
  }
  
  .nav-button.next {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 35px solid #91be61;
    border-right: 0;
    }
  
