<!-- post-carousel.component.html -->
<div class="carousel-container">
    <button 
      class="nav-button prev" 
      (click)="previousPosts()" 
      [disabled]="!canGoPrevious()"
      *ngIf="posts.length > postsPerView">
    </button>
  
    <div class="posts-container">
      <div *ngIf="posts.length > 0; else noPosts" class="posts-wrapper">
        <div *ngFor="let post of currentPosts" class="post-card">
          <h2 class="post-card-title">{{post.title}}</h2>
          <img class="post-card-img" [src]="post.thumbnailUrl" *ngIf="post.thumbnailUrl">
          <button class="button-read-more" routerLink="/single-post/{{post.id}}">Read more</button>
        </div>
      </div>
    </div>
  
    <button 
      class="nav-button next" 
      (click)="nextPosts()" 
      [disabled]="!canGoNext()"
      *ngIf="posts.length > postsPerView">
    </button>
  </div>
  
  <ng-template #noPosts>
    <p>No posts available yet!</p>
  </ng-template>