

.blog-introduction-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    color: #F0B00D;

}

.blog-introduction-image-container {
    grid-column: 1/2;    
}

.blog-introduction-img {
    width: 500px;
    height: 350px;
    object-fit: cover;
}

.blog-introduction-text-container {
    grid-column: 2/3;
    height: 350px;
    background: radial-gradient(#10511a 0%, #121212 100%);}

.blog-introduction-h1 {
    padding: 15px;
    font-size: 2rem;
    font-weight: 600;
}

.blog-introduction-p  {
    padding: 15px;
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: #F0B00D;
}