<div class="blog-introduction-container">
    <div class="blog-introduction-image-container">
        <img src="assets/introduction.jpg" alt="Blog introduction image" class="blog-introduction-img">
    </div>
    <div class="blog-introduction-text-container">
        <h1 class="blog-introduction-h1">Welcome to the Edge of Reality!</h1>
        <p class="blog-introduction-p">
            Hi, and thanks for visiting my little corner of the internet.
            My name is Alex, and I created this blog to explore the truths
            that lie hidden—right at the edge of what we think we know.
            everything, you’ve come to the right place.
            Want to know more
            <span><a routerLink="/about-me-page" >About</a></span>
            me? You'll find my blog-posts below. Enjoy!
        </p>
    </div>    
</div>