<div *ngIf="post">
    <div class="post-container">
      <div class="post-header">
        <h1>{{post.title}}</h1>
         <p>Published: {{post.creationDate | date}}</p>
      </div> 
      <img class="post-img" *ngIf="post.thumbnailUrl" [src]="post.thumbnailUrl" alt="Post thumbnail">
      <p class="post-text">{{post.body}}</p>    
    </div>
    <div class="wrapper">
      <div class="reactions">
        <button (click)="increaseReactions()">Up</button>
        <p>Reactions: {{post.reactions}}</p>
        <button (click)="decreaseReactions()">Down</button>
      </div>
      <div class="comments">
        <h2 class="comments-header">Comments:</h2>
        <div class="single-comment-wrapper" *ngIf="post?.comments?.length > 0">
          <div *ngFor="let comment of post.comments">
            <p class="single-comment">{{comment.body}}</p>
          </div>
        </div>
      </div>
      <div class="add-comment">
        <form (ngSubmit)="onSubmit()" #commentForm="ngForm">
          <label for="comment">Add a comment</label>
          <textarea id="comment" name="comment" [(ngModel)]="newComment.body" maxlength="100" minlength="2" required></textarea>
          <button type="submit" [disabled]="!commentForm.valid">Publish</button>
        </form>
      </div>
    </div>
      <button routerLink="/">Back</button>
      <button class="delete-button" *ngIf="isAdmin" (click)="deletePost()">Delete post</button>
  </div>   
  <div *ngIf="!post">
    <p>Post could not be found.</p>
  </div>